.home-top-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    //background-color: #121212;

    padding-left: 30px;
    font-size: 50px;
    height: 120px;

    &__cart {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 40px;
        height: 40px;
        padding: 10px;
        margin-right: 50px;
        border-radius: 5px;
        background-color: white;
    }

    &__cart-focused {
        border: 5px solid red;
    }
  }