.cart-screen {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: rgba(0, 0, 0, 0.6);
    height: 100vh;
    margin-top: -10px;

    &__list {
        display: flex;
        flex-direction: column;
        max-height: 900px;
        overflow: hidden;
    }

    &__item {
        display: flex;
        justify-content: left;
        margin: 10px;
        font-size: 40px;
    }

    &__name {
        margin-right: 10px;
        min-width: 600px;
    }

    &__quantity {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 20px;
        min-width: 200px;
    }

    &__price {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__focused {
        border: 12px solid red;
        background-color: purple;
    }
}
