.genre-screen {
  display: flex;
  align-items: left;
  flex-direction: column;

  &__wrapper {
    display: flex;
    align-items: left;
    justify-content: left;
  }

  &__wrapper-out {
    display: flex;
    flex-direction: column;
  }

  &__title {
    font-size: 52px !important;
  }

  &__games {
    display: flex;
    justify-content: space-evenly;
  }
}
