.genre-screen {
  display: flex;
  align-items: left;
  flex-direction: column;
  
  &__title {
    font-size: 26px;
    height: 30px;
    padding: 5px;
  }

  &__wrapper {
    display: flex;
    align-items: left;
    justify-content: left;
    height: 330px;
    padding-bottom: 30px;
  }

}
