body {
  font-family: roboto!important;
}
.home-screen {
  display: flex;
  height: 1080px;
  width: 1920px;
  overflow: hidden;

  // Left Side
  &__menu {
    display: flex;
    align-items: center;
    width: 350px;
  }

  // Right side
  &__games {
    display: flex;
    flex-direction: column;
    width:1570px;
    background-image: linear-gradient(315deg, #121212 0%, #28313b 74%);
  }


  // Bottom of right side
  &__carousels-wrapper {
    display: flex;
    flex-direction: column;
    height: 980px;
    width: 1570px;

    margin: 30px;
    overflow: hidden;
  }

  &__carousel {
    min-height: 400px;
  }

  &__cards-wrapper {
    display: flex;
    align-items: center;
    height: 350px;
  }

}
